In [74]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [75]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [76]:
df = pd.read_csv("D:\Downloads\stockdata_amzn.csv")

df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-07-05,107.599998,114.080002,106.320000,113.500000,113.500000,76583700
1,2022-07-06,113.209999,115.480003,112.010002,114.330002,114.330002,66958900
2,2022-07-07,113.849998,116.989998,113.489998,116.330002,116.330002,57872300
3,2022-07-08,114.599998,116.580002,113.690002,115.540001,115.540001,45719700
4,2022-07-11,114.080002,114.300003,110.870003,111.750000,111.750000,53487600
...,...,...,...,...,...,...,...
246,2023-06-27,128.630005,130.089996,127.550003,129.179993,129.179993,46801000
247,2023-06-28,128.940002,131.479996,128.440002,129.039993,129.039993,52149500
248,2023-06-29,128.770004,129.259995,127.260002,127.900002,127.900002,40761000
249,2023-06-30,129.470001,131.250000,128.949997,130.360001,130.360001,54310500
250,2023-07-03,130.820007,131.850006,130.070007,130.220001,130.220001,28264800

In [77]:
x = df[["High","Low","Open","Volume"]].values

y = df[["Close"]].values

In [78]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [79]:
regressor = LinearRegression()

regressor.fit(x_train, y_train)

LinearRegression()

In [80]:
print(regressor.coef_)

print(regressor.intercept_)

[[ 7.44762590e-01  8.92563846e-01 -6.45910904e-01  1.53227726e-09]]
[1.13377549]

In [81]:
predicted = regressor.predict(x_test)

print(predicted)

[[ 97.68838257]
 [ 83.98678532]
 [ 99.72075852]
 [ 96.37145193]
 [102.03035016]
 [ 93.32259545]
 [ 98.67849219]
 [102.41545934]
 [115.28826986]
 [100.0918568 ]
 [ 99.860062  ]
 [125.03094384]
 [ 89.05408145]
 [103.30683262]
 [ 88.29975711]
 [113.41551743]
 [105.72286585]
 [103.44927544]
 [ 96.42785788]
 [ 95.80725097]
 [ 99.64525192]
 [128.35747962]
 [124.70982731]
 [ 90.17556372]
 [104.39812132]
 [ 86.76907006]
 [114.28629843]
 [120.00179137]
 [129.06373788]
 [136.02407083]
 [ 98.43975561]
 [117.06015488]
 [ 89.7126505 ]
 [122.27801764]
 [102.71215266]
 [ 94.00953181]
 [ 91.54441488]
 [109.80141301]
 [141.91517829]
 [ 85.97911991]
 [ 85.90591825]
 [122.86576045]
 [ 92.25639177]
 [105.83377703]
 [ 89.68797895]
 [ 93.30367323]
 [102.26964735]
 [125.70587631]
 [122.31778645]
 [100.39607613]
 [110.10348483]]

In [87]:
actualvspred = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted' : predicted.flatten()})

actualvspred

        Actual   Predicted
0    97.610001   97.688383
1    83.040001   83.986785
2   100.790001   99.720759
3    97.199997   96.371452
4   102.180000  102.030350
5    93.500000   93.322595
6    98.239998   98.678492
7   102.440002  102.415459
8   115.879997  115.288270
9   100.550003  100.091857
10   99.699997   99.860062
11  125.300003  125.030944
12   88.250000   89.054081
13  103.290001  103.306833
14   87.860001   88.299757
15  113.790001  113.415517
16  104.980003  105.722866
17  102.570000  103.449275
18   97.709999   96.427858
19   94.849998   95.807251
20   98.150002   99.645252
21  129.479996  128.357480
22  126.419998  124.709827
23   89.089996   90.175564
24  104.300003  104.398121
25   86.139999   86.769070
26  113.550003  114.286298
27  118.540001  120.001791
28  127.330002  129.063738
29  137.279999  136.024071
30   97.830002   98.439756
31  115.250000  117.060155
32   90.349998   89.712651
33  122.769997  122.278018
34  102.050003  102.712153
35   93.680000   94.009532
36   92.129997   91.544415
37  109.220001  109.801413
38  142.570007  141.915178
39   85.820000   85.979120
40   85.190002   85.905918
41  124.629997  122.865760
42   91.010002   92.256392
43  105.830002  105.833777
44   89.980003   89.687979
45   94.139999   93.303673
46  102.300003  102.269647
47  126.110001  125.705876
48  121.089996  122.317786
49   98.699997  100.396076
50  112.529999  110.103485

In [85]:
next_day = x[-1] + 1


next_day = next_day.reshape(1,-1)


next_day_price = regressor.predict(next_day)


print(next_day_price)

[[131.9631694]]